.btn {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.prev,
.next {
  text-decoration: none;
}

.pageNumber {
  color: white;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  align-items: center;
}
