.btn {
  display: inline-block;
  margin: 5px;
  width: 70px;
  padding: 12px;
  background-color: #dc2222;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: 0.2s ease;
}

.btn:hover {
  background-color: #b00f0f;
  transition: 0.2s ease;
}

.prev,
.next {
  text-decoration: none;
}

.pageNumber {
  color: white;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
