.container {
  display: grid;
  color: white;
  margin: 10px 10px 20px 10px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0 1 10%;
  border-radius: 5px;
  padding: 10px;
}

.container:hover {
  transition: 0.2s ease-in-out;
  transform: scale(1.1);
}

.title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px 0;
  text-align: center;
}

.species {
  display: flex;
  justify-content: center;
}

.img {
  max-height: 260px;
}
