.error_btn {
  margin: 10px 25px 0 25px;
  padding: 10px 25px 8px 25px;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  background-color: #dc2222;
  color: white;
  position: absolute;
  right: 0;
}