.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputSize {
  padding: 7px 0px;
  border-radius: 10px;
  width: 51px;
}

.mark {
  color: white;
  margin: 7px 0;
  font-size: 16px;
}

.mark {
  color: #fff;
  font-size: 1rem;
}