.detailsContainer {
  display: flex;
  flex-direction: column;
}

.delails {
  display: flex;
  background-color: #0d0d0d;
  flex-direction: column;
  position: fixed;
  width: 51vw;
  text-align: center;
  align-items: center;
  padding: 50px 25px;
  overflow-y: auto;
  bottom: 0;
  top: 0;
  right: -20px;
  z-index: 22;
}

.closeBtn {
  position: fixed;
  transform: translate(-99%);
  width: 100%;
  height: 100%;
  background-color: #00000094;
}

.title {
  color: white;
  font-size: 2rem;
  margin: 10px;
}

.close {
  text-decoration: none;
  background-color: transparent;
  position: absolute;
  border: none;
  margin-bottom: 10px;
  top: 15px;
  left: 5px;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  font-size: 18px;
  color: white;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close:hover {
  background-color: #ff0000;
  transition: 0.2s ease;
}

.img {
  max-width: 100%;
}

.description {
  color: rgba(255, 255, 255, 0.863);
  text-align: start;
  padding: 12px 0px;
}

.name {
  color: #ff0000;
  margin: 10px 0px;
  font-size: 17px;
  font-weight: 800;
}
